{% extends 'base.html' %}

{% block title %}MarketPlace{% endblock title %}

{% block content %}
<div class="w-full mx-auto py-8">
	{% if current_user.role_title != 'Farmer' %}
	{% if current_user.inventory %}
	<a href="{{url_for('listings.view_inventory', inventory_id=current_user.inventory.id)}}"
		class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
		MANAGE INVENTORY
	</a>
	{% else %}
	<button id="showInventoryModal" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
		CREATE AN INVENTORY
	</button>
	{% endif %}
	{% endif %}
	{% include 'listings/create_inventory.html' %}
	<div class="bg-white shadow-md rounded-lg p-6">
		<!-- Tabs or Title for Product Listings -->
		{% if current_user.role_title != 'Farmer' and current_user.role_title != 'Manufacturer' and
		current_user.role_title != 'Administrator'
		%}
		<div class="flex justify-center mb-6">
			<div class="mr-4 cursor-pointer">
				<a href="#" id="my-listings-tab" class="text-3xl font-bold border-b-2 border-blue-600">My Listings</a>
			</div>
			<div class="cursor-pointer">
				<a href="#" id="other-listings-tab" class="text-xl underline text-gray-600">Product Listings</a>
			</div>
		</div>
		{% elif current_user.role_title != 'Farmer' and current_user.role_title != 'Administrator' %}
		<h2 class="text-3xl font-bold mb-4 text-center">My Listings</h2>
		{% elif current_user.role_title != 'Manufacturer' or current_user.role_title == 'Administrator' %}
		<h2 class="text-3xl font-bold mb-4 text-center">Product Listings</h2>
		{% endif %}

		<!-- Filters Section -->
		<div class="flex justify-between mb-6">
			<div>
				<label for="actor-filter" class="text-sm font-medium text-gray-700">Filters:</label>
				<select id="actor-filter" name="actor-filter"
					class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
					<option value="all">All</option>
					<option value="manufacturer">Manufacturers</option>
					<option value="wholesaler">Wholesalers</option>
					<option value="retailer">Retailers</option>
				</select>
			</div>
			<div>
				<button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
					Apply Filter
				</button>
			</div>
		</div>

		<!-- Product Listings -->
		{% if current_user.role_title != 'Farmer' and current_user.role_title != 'Administrator' %}
		<div id="my-listings" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{% for product in my_listings %}
			<div class="bg-gray-200 rounded-lg overflow-hidden shadow-md">
				<p class="p-2 text-gray-900 font-bold m-2">Posted On: {{ product.created_at.strftime('%d %B %Y %H:%M') }}</p>
				<img class="bg-contain w-full bg-center p-2" src="../../{{ product.avatar_path }}" alt="{{ product.name }}"
					class="w-full h-48 object-cover">
				<div class="p-4">
					<h3 class="text-xl font-semibold mb-2">{{ product.product_name }}</h3>
					<p class="text-gray-700 mb-4">{{ product.description }}</p>
					<p class="text-gray-500 font-bold mb-2">Shipping to be negotiated</p>
					<p class="text-gray-900 font-bold mb-2">Price: ${{ product.price }}</p>
					<p class="text-gray-900 font-bold mb-2">Min Order: {{ product.min_order }} kgs</p>
					<p class="text-gray-900 font-bold mb-2">Order Requests: {{ product.orders | length }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}

		{% if current_user.role_title != 'Manufacturer' or current_user.role_title == 'Administrator' %}
		<div id="other-listings"
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 {% if current_user.role_title == 'Farmer' %}{% else %}hidden{% endif %}">
			{% for product in products %}
			<div class="bg-gray-200 rounded-lg h-[300px] overflow-hidden shadow-md">
				<h3 class="p-2 text-xl font-semibold font-italic">{{product.product.manufacturer.company_name}}</h3>
				<p class="p-2 text-gray-900 font-bold mb-2">Posted On: {{ product.created_at.strftime('%d %B %Y %H:%M') }}</p>
				<img src="../../{{ product.avatar_path }}" alt="{{ product.product_name }}"
					class="w-full object-cover p-2">
				<div class="p-4">
					<h3 class="text-xl font-semibold mb-2">{{ product.product_name }}</h3>
					<p class="text-gray-700 mb-4">{{ product.description }}</p>
					<p class="text-gray-500 font-bold mb-2">Shipping to be negotiated</p>
					<p class="text-gray-900 font-bold mb-2">Price: ${{ product.price }}</p>
					<div class="flex gap-4">
						<p class="text-gray-900 mb-2"><strong>Min Order: </strong>{{ product.min_order }} kgs</p>
						<p class="text-gray-900 mb-2"><strong>Unit Size: </strong>{{ product.min_order }} kgs</p>
					</div>
					<div class="flex justify-end">
						<a href="/orders/place_order/{{product.id}}"
							class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
							Place Order
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const myListingsTab = document.getElementById('my-listings-tab');
		const otherListingsTab = document.getElementById('other-listings-tab');
		const myListings = document.getElementById('my-listings');
		const otherListings = document.getElementById('other-listings');

		if (myListingsTab) {
			myListingsTab.addEventListener('click', function (e) {
				e.preventDefault();
				myListingsTab.classList.add('text-3xl', 'font-bold', 'border-blue-600');
				myListingsTab.classList.remove('text-xl', 'underline', 'text-gray-600');
				otherListingsTab.classList.remove('text-3xl', 'font-bold', 'border-blue-600');
				otherListingsTab.classList.add('text-xl', 'underline', 'text-gray-600');
				myListings.classList.remove('hidden');
				otherListings.classList.add('hidden');
			});
		}

		otherListingsTab.addEventListener('click', function (e) {
			e.preventDefault();
			otherListingsTab.classList.add('text-3xl', 'font-bold', 'border-blue-600');
			otherListingsTab.classList.remove('text-xl', 'underline', 'text-gray-600');
			if (myListingsTab) {
				myListingsTab.classList.remove('text-3xl', 'font-bold', 'border-blue-600');
				myListingsTab.classList.add('text-xl', 'underline', 'text-gray-600');
				myListings.classList.add('hidden');
			}
			otherListings.classList.remove('hidden');
		});
	});
</script>
{% endblock content %}