<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} | {{ app_name }}</title>
  <link href="{{ url_for('static', filename='styles/output.css') }}" rel="stylesheet">
  <style>
    html,
    body {
      width: 100;
      margin: 0;
      padding: 0;
    }

    .toggle-nav {
      display: none;
    }

    @media (max-width: 768px) {
      .toggle-nav {
        display: block;
      }
    }

    #mobile-nav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      background-color: #34d399;
      padding-top: 20px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }

    #toggle-btn.active {
      position: fixed;
      top: 10px;
      right: 10px;
    }

    #toggle-btn span {
      transition: .3s ease-in-out;
    }

    #toggle-btn.active span:nth-child(1) {
      top: 50%;
      transform: rotate(-45deg);
    }

    #toggle-btn.active span:nth-child(2) {
      opacity: 0;
    }

    #toggle-btn.active span:nth-child(3) {
      top: 50%;
      transform: rotate(45deg);
    }

    #mobile-nav.active {
      transform: translateX(0);
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const flashed = document.querySelector('#flashed');
      if (flashed) {
        setTimeout(() => {
          flashed.classList.add('hidden');
        }, 3000);
      }
    });
    function toggleNav() {
      const nav = document.getElementById('mobile-nav');
      const btn = document.getElementById('toggle-btn')
      nav.classList.toggle('active');
      btn.classList.toggle('active')
    }

  </script>
</head>

<body class="bg-gray-100 text-gray-900 relative">
  {% if current_user %}
  {{current_user.role_title}}
  {%endif%}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul id="flashed" class="flex flex-col w-[100%] fixed top-5 items-center bg-transparent">
    {% for category, message in messages %}
    <li class="m-2 p-2 font-italic font-bold rounded-md
    {% if category == 'error' %} bg-red-400
    {% elif category == 'warn' %} bg-yellow-200
    {% else %} bg-gray-300 text-black font-bold 
    {% endif %}">{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <header class="bg-green-600 text-white shadow-lg">
    <div class="container mx-auto flex justify-between items-center p-4">
      <a href="{{ url_for('main.index') }}" class="text-3xl font-bold">{{ app_name }}</a>
      <div id="toggle-btn" class="flex md:hidden cursor-pointer bg-transparent relative h-10 w-10 z-10"
        onclick="toggleNav()">
        <span class="absolute top-1/4 h-1 w-10 bg-white rounded-md"></span>
        <span class="absolute top-1/2 h-1 w-10 bg-white rounded-md"></span>
        <span class="absolute top-3/4 h-1 w-10 bg-white rounded-md"></span>
      </div>
      <nav id="nav-menu" class="hidden md:flex md:items-center">
        <ul class="flex flex-col md:flex-row md:space-x-6 text-lg">
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('accounts.dashboard') }}"
              class="block py-2 px-4 hover:bg-green-700 rounded">Dashboard</a></li>
          <li><a href="{{ url_for('listings.view_listings') }}"
              class="block py-2 px-4 hover:bg-green-700 rounded">Marketplace</a></li>
          <li><a href="{{ url_for('accounts.profile') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Profile</a>
          </li>
          {% endif %}
          <li><a href="{{ url_for('main.how_it_works') }}" class="block py-2 px-4 hover:bg-green-700 rounded">How It
              Works</a></li>
          <li><a href="{{ url_for('main.contact_us') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Contact
              Us</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('accounts.logout') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Log Out</a>
          </li>
          {% else %}
          <li><a href="{{ url_for('accounts.sign_up') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Create
              Account</a></li>
          <li><a href="{{ url_for('accounts.sign_in') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Sign In</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <!-- Mobile Navigation -->
  <nav id="mobile-nav" class="fixed top-0 right-0 bottom-0 w-1/2 bg-green-500 pt-20">
    <ul class="flex flex-col md:flex-row md:space-x-6 text-lg">
      <li><a href="{{ url_for('accounts.dashboard') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Dashboard</a>
      </li>
      <li><a href="{{ url_for('listings.view_listings') }}"
          class="block py-2 px-4 hover:bg-green-700 rounded">Marketplace</a></li>
      <li><a href="{{ url_for('accounts.profile') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Profile</a>
      </li>
      <li><a href="{{ url_for('main.how_it_works') }}" class="block py-2 px-4 hover:bg-green-700 rounded">How It
          Works</a></li>
      <li><a href="{{ url_for('main.contact_us') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Contact Us</a>
      </li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('accounts.logout') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Log Out</a></li>
      {% else %}
      <li><a href="{{ url_for('accounts.sign_up') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Create
          Account</a></li>
      <li><a href="{{ url_for('accounts.sign_in') }}" class="block py-2 px-4 hover:bg-green-700 rounded">Sign In</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <!-- Main Content -->
  <main class="container mx-auto p-4 h-full">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="bg-green-600 text-white mt-8">
    <div class="container mx-auto py-8 px-4 grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <h3 class="text-xl font-bold mb-4">About {{ app_name }}</h3>
        <p class="text-sm">{{ app_name }} is dedicated to ensuring the authenticity and quality of fertilizers by
          leveraging blockchain technology to track the journey from the manufacturer to the farmer.</p>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Quick Links</h3>
        <ul class="space-y-2 text-sm">
          <li><a href="{{ url_for('main.index') }}" class="hover:underline">Home</a></li>
          <li><a href="{{ url_for('main.how_it_works') }}" class="hover:underline">How It Works</a></li>
          <li><a href="{{ url_for('main.contact_us') }}" class="hover:underline">Contact Us</a></li>
          <li><a href="{{ url_for('accounts.sign_in') }}" class="hover:underline">Sign In</a></li>
          <li><a href="{{ url_for('accounts.sign_up') }}" class="hover:underline">Create Account</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Follow Us</h3>
        <div class="flex space-x-4 text-sm">
          <a href="#" class="hover:text-gray-300"><svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path
                d="M24 4.5a9.83 9.83 0 0 1-2.83.78 4.9 4.9 0 0 0 2.17-2.7 9.92 9.92 0 0 1-3.12 1.2A4.92 4.92 0 0 0 11.75 9a13.94 13.94 0 0 1-10.13-5.13 4.94 4.94 0 0 0-.67 2.48 4.93 4.93 0 0 0 2.18 4.11 4.88 4.88 0 0 1-2.23-.62v.06a4.93 4.93 0 0 0 3.95 4.83 4.96 4.96 0 0 1-2.22.08 4.93 4.93 0 0 0 4.6 3.42 9.88 9.88 0 0 1-6.1 2.1c-.4 0-.79-.02-1.17-.07a13.95 13.95 0 0 0 7.56 2.22c9.05 0 14-7.5 14-14 0-.21 0-.42-.02-.62a10.06 10.06 0 0 0 2.46-2.56z" />
            </svg></a>
          <a href="#" class="hover:text-gray-300"><svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path
                d="M12 2.04c-5.52 0-10 4.48-10 10 0 4.41 2.89 8.14 6.84 9.49.5.09.68-.22.68-.49v-1.71c-2.78.6-3.37-1.35-3.37-1.35-.46-1.17-1.11-1.48-1.11-1.48-.91-.62.07-.61.07-.61 1.01.07 1.54 1.05 1.54 1.05.9 1.54 2.36 1.09 2.93.84.09-.65.35-1.09.64-1.34-2.22-.25-4.55-1.11-4.55-4.93 0-1.09.39-1.98 1.02-2.68-.1-.25-.44-1.27.1-2.65 0 0 .83-.27 2.73 1.02A9.55 9.55 0 0 1 12 6.8c.84.004 1.68.11 2.47.32 1.9-1.29 2.72-1.02 2.72-1.02.54 1.38.2 2.4.1 2.65.63.7 1.01 1.59 1.01 2.68 0 3.84-2.34 4.68-4.57 4.93.36.31.69.92.69 1.85v2.74c0 .27.18.58.69.48A10.02 10.02 0 0 0 22 12.04c0-5.52-4.48-10-10-10z" />
            </svg></a>
        </div>
      </div>
    </div>
    <div class="bg-green-700 text-center py-4">
      <p class="text-sm">&copy; 2024 {{ app_name }}. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>