{% extends 'base.html' %}
{% block title %}Product{% endblock title %}
{% block content %}
<div class="w-full mx-auto py-8">
	<div class="bg-white shadow-md rounded-lg p-6">
		<h2 class="text-lg font-semibold mb-4">SHPMNT-<strong>{{ shipment.id }}</strong></h2>
		<p class="text-gray-700 mb-6">{{ shipment.description }}</p>
		<div>
			<div class="w-full mb-8">
				<div class="mt-4 float-right">
					<button id="addAlltoShipments"
						class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add
						All</button>
				</div>
				<h3 class="text-2xl font-semibold mb-2">Available Orders:</h3>
			</div>
			<ul class="flex flex-wrap divide-y divide-gray-200">
				{% if current_user.orders_received %}
				{% for order in current_user.orders_received %}
				{% if order not in shipment.orders and not order.shipment %}
				{{order.status}}
				<li class="p-4 m-2 flex bg-gray-200 rounded-md">
					<div class="flex-1">
						<div class="flex items-center justify-between">
							<div class="flex-1">
								<p class="text-lg font-semibold text-gray-900">Order ID: <span id="pending-order-id">{{
										order.id }}</span></p>
								<p class="text-sm text-gray-500">Ordered By: {{ order.recipient.firstname }} {{
									order.recipient.lastname }}</p>
								<h3 class="font-semibold">Contact Details</h3>
								<div class="bg-white p-2 m-2">
									<p class="text-sm text-gray-500">Delivery Address: {{ order.delivery_address }}</p>
									<p class="text-sm text-gray-500">Email Address: {{ order.recipient.email }}</p>
									{% if order.recipient.phone %}
									<p class="text-sm text-gray-500">Delivery Address: {{ order.recipient.phone }}</p>
									{% endif %}
								</div>
								<p class="text-sm text-gray-500">Ordered On: {{ order._created_at }}</p>
								<form
									action="{{url_for('shipments.add_shipment_order', shipment_id=shipment.id, order_id=order.id)}}"
									method="get">
									<div class="flex items-center justify-between mt-2">
										<button id="addShipmentButton"
											class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
											type="submit">Add to Shipment</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</li>
				{% endif %}
				{% endfor %}
				{% endif %}

			</ul>
			<h3 class="text-2xl font-semibold mb-2">Ready To Ship:</h3>
			<form action="{{url_for('shipments.dispatch_shipment', shipment_id=shipment.id)}}" method="get">
				<div class="flex items-center justify-between mt-2">
					<button id="dispatchShipment"
						class="{% if shipment.status == 'Processing' %}bg-green-600 hover:bg-green-700{% else %} bg-gray-400 {% endif %}
						text-white font-bold py-2 px-4 rounded" type="submit"
						{% if shipment.status != 'Processing' %}disabled{% endif %}>
						{% if shipment.status != 'Processing' and shipment.orders %}{{shipment.status}}{% else %}Dispatch Shipment{% endif %}</button>
				</div>
			</form>
			<ul class="flex flex-wrap divide-y divide-gray-200">
				{% if shipment.orders %}
				{% for order in shipment.orders %}
				<li class="p-4 m-2 flex bg-gray-200 rounded-md">
					<div class="flex-1">
						<div class="flex items-center justify-between">
							<div class="flex-1">
								<p class="text-lg font-semibold text-gray-900">Order ID: {{ order.id }}</p>
								<p class="text-sm text-gray-500">Ordered By: {{ order.recipient.firstname }} {{
									order.recipient.lastname }}</p>
								<h3 class="font-semibold">Contact Details</h3>
								<div class="bg-white p-2 m-2">
									<p class="text-sm text-gray-500">Delivery Address: {{ order.delivery_address }}</p>
									<p class="text-sm text-gray-500">Email Address: {{ order.recipient.email }}</p>
									{% if order.recipient.phone %}
									<p class="text-sm text-gray-500">Delivery Address: {{ order.recipient.phone }}</p>
									{% endif %}
								</div>
								<p class="text-sm text-gray-500">Ordered On: {{ order._created_at }}</p>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
				{%else%}
				<p>You've not added any orders to this shipping</p>
				{% endif %}
			</ul>
		</div>
		{% include 'shipments/add_shipment_order.html' %}
	</div>
</div>
<script>
	const addAlltoShipments = document.querySelector('#addAlltoShipments')
	const pendingOrderIDs = document.querySelectorAll('#pending-order-id')
	console.log(pendingOrderIDs)
	addAlltoShipments.addEventListener('click', () => {
		pendingOrderIDs.forEach(async (id) => {
			try {
				const response = await fetch(`/shipments/{{shipment.id}}/add_order/${id.textContent}`, {
					method: 'GET',
				})
				if (!response.ok) {
					const errorData = await response.json()
					throw new Error(errorData.message)
				}
				const resp = await response.json()
				window.location.reload()
			} catch (error) {
				alert(error.message)
			}
		});
	})
</script>
{% endblock content %}